<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="URL" value="http://localhost:60634/Article/List" />
		<add key="TestDataSheetPath" value="C:\Users\Velizar Valkov\Documents\GitHub\SoftUni-QA-Blog\Blog-Skeleton\Blog.UI.Tests\DataDrivenTests\" />
		<add key="Logs" value="C:\Users\Velizar Valkov\Documents\GitHub\SoftUni-QA-Blog\Blog-Skeleton\Blog.UI.Tests\Logs\" />
	</appSettings>
</configuration>